@font-face {
    font-family:'Open Sans' sans-serif;
    src: url(./assets2/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'Open Sans' sans-serif;
    src: url(./assets2/fonts/OpenSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family:'Open Sans' sans-serif;
    src: url(./assets2/fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family:'Open Sans' sans-serif;
    src: url(./assets2/fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:'Open Sans' sans-serif;
    src: url(./assets2/fonts/OpenSans-ExtraBolb.ttf);
    font-weight: 800;
}

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); */

html{
    font-family: 'Open Sans' sans-serif;
}
body{
    margin: 0;
    background-color: #020A18;
}
.header{
    height: 100px;
    background-color: #020b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header-item{
    /* color: var(--ffffff, #FFF); */
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.intro{
    display: flex;
    /* gap: 128px; */
    justify-content: space-between;
    width: 1146px;
    margin-left: auto;
    margin-right: auto;
}
.intro_sub_title{
    color:#3A68B8;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}
.intro_title{
    color:#FFF;
    font-size: 55px;
    font-weight: 600;
    line-height: 130%; 
    margin-bottom: 40px;
    width: 604px;
}
.intro_text{
    color:#FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}
.intro_button_wrapper{
   display: flex;
   gap: 20px;
}
.intro_button{
    color:#FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background-color:#3A68B8;
    padding: 15px 30px;
}